In [43]:
import pandas as pd

description = {
    'Processes': 			["P1",	"P2",	"P3",	"P4",	"P5"],
    'Arrival' 'time':		["0",	"2",	"3",	"14",	"18"],
    'Service' 'time': 		["4",	"11",	"8",	"5",	"4"],
    'Priority':			    ["mid",	"low",	"high",	"mid",	"high"]
}
description = pd.DataFrame(data=description)
description.T

               0    1     2    3     4
Processes     P1   P2    P3   P4    P5
Arrivaltime    0    2     3   14    18
Servicetime    4   11     8    5     4
Priority     mid  low  high  mid  high

In [44]:
arrival = {
            'sup': ["P1","P1","P1","P1","-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-"  ],										
            'sup2': ["-","-" ,"P2","P2","P2","P2","P2","P2","P2","P2","P2","P2","P2","-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ],					
            'sup3': ["-","-" ,"-" ,"P3","P3","P3","P3","P3","P3","P3","P3","-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-"  ],											
            'sup4': ["-","-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"P4","P4","P4","P4","P4","-" ,"-" ,"-" ],
            'sup5': ["-","-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"-" ,"P5","P5","P5","P5"]
}
arrival = pd.DataFrame(data=arrival)
print("Process arrival and duration:")
arrival.T

Process arrival and duration:

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
sup,P1,P1,P1,P1,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
sup2,-,-,P2,P2,P2,P2,P2,P2,P2,P2,...,P2,-,-,-,-,-,-,-,-,-
sup3,-,-,-,P3,P3,P3,P3,P3,P3,P3,...,-,-,-,-,-,-,-,-,-,-
sup4,-,-,-,-,-,-,-,-,-,-,...,-,-,P4,P4,P4,P4,P4,-,-,-
sup5,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,P5,P5,P5,P5

In [45]:

algs = { 
            'FCFS': ["P1","P1","P1","P1","P2","P2","P2","P2","P2","P2","P2","P2","P2","P2","P2","P3","P3","P3","P3","P3","P3","P3","P3","P4","P4","P4","P4","P4","P5","P5","P5","P5"],
            'SJF': ["P1","P1","P1","P1","P3","P3","P3","P3","P3","P3","P3","P3","P2","P2","P2","P2","P2","P2","P2","P2","P2","P2","P2","P5","P5","P5","P5","P4","P4","P4","P4","P4"],
            'SRTF': ["P1","P1","P1","P1","P3","P3","P3","P3","P3","P3","P3","P3","P2","P2","P4","P4","P4","P4","P4","P5","P5","P5","P5","P2","P2","P2","P2","P2","P2","P2","P2","P2",],
            'RR': ["P1","P1","P1","P1","P2","P2","P2","P2","P3","P3","P3","P3","P2","P2","P2","P2","P3","P3","P3","P3","P4","P4","P4","P4","P2","P2","P2","P5","P5","P5","P5","P4"],
            'RR-prio': ["P1","P1","P1","P1","P3","P3","P3","P3","P3","P3","P3","P3","P2","P2","P4","P4","P4","P4","P5","P5","P5","P5","P4","P2","P2","P2","P2","P2","P2","P2","P2","P2"]
}
algs = pd.DataFrame(data=algs)
print("Order of processes run:")
algs.T

Order of processes run:

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
FCFS,P1,P1,P1,P1,P2,P2,P2,P2,P2,P2,...,P3,P4,P4,P4,P4,P4,P5,P5,P5,P5
SJF,P1,P1,P1,P1,P3,P3,P3,P3,P3,P3,...,P2,P5,P5,P5,P5,P4,P4,P4,P4,P4
SRTF,P1,P1,P1,P1,P3,P3,P3,P3,P3,P3,...,P5,P2,P2,P2,P2,P2,P2,P2,P2,P2
RR,P1,P1,P1,P1,P2,P2,P2,P2,P3,P3,...,P4,P4,P2,P2,P2,P5,P5,P5,P5,P4
RR-prio,P1,P1,P1,P1,P3,P3,P3,P3,P3,P3,...,P4,P2,P2,P2,P2,P2,P2,P2,P2,P2